name: Despliegue periódico 
on: 
  schedule: 
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs: 
  deploy: 
    runs-on: ubuntu-latest 
    steps: 
      - name: Desplegar aplicación 
        run: echo "Mensaje auto"